@{
    ViewBag.Title = "Home Page";
}

<div class="latest-articles">
    <h1>Latest articles</h1>
    <div id="text-carousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="row">
            <div>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="carousel-content">
                            <div class="carousel-items-wrapper">
                                <p>Article 1</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-content">
                            <div>
                                <p>Article 2</p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="carousel-content">
                            <div>
                                <p>Article 3</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#text-carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>

    </div>
</div>

<div class="container">
    <h1>Contact Address</h1><br>
    <div class="row text-center">
        <div class="col-sm-3 col-xs-6 first-box">
            <h1><span class="glyphicon glyphicon-earphone"></span></h1>
            <h3>Phone</h3>
            <p>N/A</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 second-box">
            <h1><span class="glyphicon glyphicon-home"></span></h1>
            <h3>Location</h3>
            <p>N/A</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 third-box">
            <h1><span class="glyphicon glyphicon-send"></span></h1>
            <h3>E-mail</h3>
            <p>gogo170109@gmail.com</p><br>
        </div>
        <div class="col-sm-3 col-xs-6 fourth-box">
            <h1><span class="glyphicon glyphicon-leaf"></span></h1>
            <h3>Web</h3>
            <p>www.unity-wiki.com</p><br>
        </div>
    </div>
</div>